{#
   Each field type is rendered by a template fragment, which is determined
   by the name of your form type class (DateTimePickerType -> date_time_picker)
   and the suffix "_widget". This can be controlled by overriding getBlockPrefix()
   in DateTimePickerType.

   See https://symfony.com/doc/current/cookbook/form/create_custom_field_type.html#creating-a-template-for-the-field
#}

{% block skills_input_widget %}
    <div class="form-group">
        {{ form_widget(form, {'attr': {'class': 'form-control', 'data-toggle': 'tagsinput', 'data-tags': skills|json_encode}}) }}
    </div>
{% endblock %}

{% block education_widget %}
    <div class="row education-row" id="resume_educations___name___">
        <label class="col-md-3 col-form-label">Éducation ___name___</label>
        <div class="col-md-9">
            <div class="form-group">
                <input class="form-control" id="resume_educations____name____designation" placeholder="Designation" maxlength="255" name="resume[educations][___name___][designation]" type="text"/>
            </div>
            <div class="form-group">
                <input class="form-control" id="resume_educations____name____institue" placeholder="Institut" maxlength="255" name="resume[educations][___name___][institue]" type="text"/>
            </div>
            <div class="form-group">
                <input class="form-control" id="resume_educations____name____period" placeholder="Période" maxlength="255" name="resume[educations][___name___][period]" type="text"/>
            </div>
            <div class="form-group">
                <textarea class="form-control" id="resume_educations____name____description" placeholder="Description (Optionnel)" name="resume[educations][___name___][description]"></textarea>
            </div>
        </div>
    </div>
{% endblock %}

{% block work_experience_widget %}
    <div class="row work-experience-row" id="resume_workExperiences___name___">
        <label class="col-md-3 col-form-label">Expérience  ___name___</label>
        <div class="col-md-9">
            <div class="form-group">
                <input class="form-control" id="resume_workExperiences____name____designation" placeholder="Désignation" maxlength="255" name="resume[workExperiences][___name___][designation]" type="text"/>
            </div>
            <div class="form-group">
                <input class="form-control" id="resume_workExperiences____name____companyName" placeholder="Nom de la companie" maxlength="255" name="resume[workExperiences][___name___][companyName]" type="text"/>
            </div>
            <div class="form-group">
                <input class="form-control" id="resume_workExperiences____name____period" placeholder="Période" maxlength="255" name="resume[workExperiences][___name___][period]" type="text"/>
            </div>
            <div class="form-group">
                <textarea class="form-control" id="resume_workExperiences____name____description" placeholder="Description (Optionnel)" name="resume[workExperiences][___name___][description]"></textarea>
            </div>
        </div>
    </div>
{% endblock %}

{% block professional_skill_widget %}
<div class="row pro-skill-row" id="resume_proSkills___name___">
    <label class="col-md-3 col-form-label">Compétence ___name___</label>
    <div class="col-md-9">
        <div class="form-group">
            <input type="text" id="resume_proSkills____name____name" name="resume[proSkills][___name___][name]" class="form-control" placeholder="Titre">
        </div>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" style="width:20px">%</span>
                </div>
                <input id="resume_proSkills____name____percentage" name="resume[proSkills][___name___][percentage]" type="number" max="100" min="0" class="form-control" placeholder="Valeur">
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block portfolio_widget %}
<div class="row portfolio-row" id="resume_portfolios___name___">
    <label class="col-md-3 col-form-label">Portfolio ___name___</label>
    <div class="col-md-9">
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">Image</div>
                </div>
                <div class="upload-portfolio-image">
                    <div class="update-photo">
                        <img alt="" class="image" src="/images/portfolio/thumb-1.jpg">
                    </div>
                    <div class="file-upload">
                        <input class="file-input" type="file">
                        <i data-feather="plus"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <input class="form-control" placeholder="Lien vers le portfolio (Optionnel)" type="text">
        </div>
    </div>
</div>
{% endblock %}