<div class="py-3">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="section-header mt-3 mb-5">
            <h4><i class="ti-search fa-sm"></i> Les recherches fréquentes</h4>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="explore-job">
            <div class="explore-job-header">
              <h5 class="title">Par métier</h5>
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bookmark"><path d="M19 21l-7-5-7 5V5a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2z"></path></svg>
            </div>
            <div class="key-info">
              <ul>
                <li><a href="job-listing.html">Accounting / Finance<span>(233)</span></a></li>
                <li><a href="job-listing.html">Education<span>(46)</span></a></li>
                <li><a href="job-listing.html">Design &amp; Creative<span>(156)</span></a></li>
                <li><a href="job-listing.html">Health Care<span>(98)</span></a></li>
                <li><a href="job-listing.html">Engineer &amp; Architects<span>(584)</span></a></li>
                <li><a href="job-listing.html">Marketing &amp; Sales<span>(188)</span></a></li>
                <li><a href="job-listing.html">Garments / Textile<span>(124)</span></a></li>
                <li><a href="job-listing.html">Customer Support<span>(15)</span></a></li>
                <li><a href="job-listing.html">Accounting / Finance<span>(233)</span></a></li>
                <li><a href="job-listing.html">Education<span>(46)</span></a></li>
                <li><a href="job-listing.html">Design &amp; Creative<span>(156)</span></a></li>
                <li><a href="job-listing.html">Health Care<span>(98)</span></a></li>
                <li><a href="job-listing.html">Engineer &amp; Architects<span>(584)</span></a></li>
                <li><a href="job-listing.html">Marketing &amp; Sales<span>(188)</span></a></li>
                <li><a href="job-listing.html">Garments / Textile<span>(124)</span></a></li>
                <li><a href="job-listing.html">Customer Support<span>(15)</span></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="explore-job">
            <div class="explore-job-header">
              <h5 class="title">Par région</h5>
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-map-pin"><path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path><circle cx="12" cy="10" r="3"></circle></svg>
            </div>
            <div class="key-info">
              <ul>
                <li><a href="job-listing.html">New York<span>(233)</span></a></li>
                <li><a href="job-listing.html">Los Angeles<span>(46)</span></a></li>
                <li><a href="job-listing.html">California<span>(156)</span></a></li>
                <li><a href="job-listing.html">Chicago<span>(98)</span></a></li>
                <li><a href="job-listing.html">Illinois<span>(584)</span></a></li>
                <li><a href="job-listing.html">Houston<span>(188)</span></a></li>
                <li><a href="job-listing.html">Phoenix<span>(124)</span></a></li>
                <li><a href="job-listing.html">Texas<span>(15)</span></a></li>
                <li><a href="job-listing.html">Arizona<span>(233)</span></a></li>
                <li><a href="job-listing.html">Philadelphia<span>(46)</span></a></li>
                <li><a href="job-listing.html">Pennsylvania<span>(156)</span></a></li>
                <li><a href="job-listing.html">San Antonio<span>(98)</span></a></li>
                <li><a href="job-listing.html">San Diego<span>(584)</span></a></li>
                <li><a href="job-listing.html">Dallas<span>(188)</span></a></li>
                <li><a href="job-listing.html">San Jose<span>(124)</span></a></li>
                <li><a href="job-listing.html">Austin<span>(15)</span></a></li>
                <li><a href="job-listing.html">Jacksonville<span>(25)</span></a></li>
                <li><a href="job-listing.html">Florida<span>(53)</span></a></li>
                <li><a href="job-listing.html">San Francisco<span>(74)</span></a></li>
                <li><a href="job-listing.html">Columbus<span>(26)</span></a></li>
                <li><a href="job-listing.html">Ohio<span>(58)</span></a></li>
                <li><a href="job-listing.html">Indianapolis<span>(96)</span></a></li>
                <li><a href="job-listing.html">Indiana<span>(123)</span></a></li>
                <li><a href="job-listing.html">Fort Worth<span>(42)</span></a></li>
                <li><a href="job-listing.html">Charlotte<span>(71)</span></a></li>
                <li><a href="job-listing.html">North Carolina<span>(19)</span></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="explore-job">
            <div class="explore-job-header">
              <h5 class="title">Par secteur</h5>
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-briefcase"><rect x="2" y="7" width="20" height="14" rx="2" ry="2"></rect><path d="M16 21V5a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2v16"></path></svg>
            </div>
            <div class="key-info">
              <ul>
                <li><a href="job-listing.html">Digoin<span>(233)</span></a></li>
                <li><a href="job-listing.html">Orion Ltd.<span>(46)</span></a></li>
                <li><a href="job-listing.html">RealHouse<span>(156)</span></a></li>
                <li><a href="job-listing.html">BioPro Phrma<span>(98)</span></a></li>
                <li><a href="job-listing.html">Homeland<span>(584)</span></a></li>
                <li><a href="job-listing.html">Realouse<span>(188)</span></a></li>
                <li><a href="job-listing.html">Healthyete<span>(124)</span></a></li>
                <li><a href="job-listing.html">Theoreo<span>(15)</span></a></li>
                <li><a href="job-listing.html">Homeland<span>(584)</span></a></li>
                <li><a href="job-listing.html">Realouse<span>(188)</span></a></li>
                <li><a href="job-listing.html">Healthyete<span>(124)</span></a></li>
                <li><a href="job-listing.html">Theoreo<span>(15)</span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>