{% extends "@FOSUser/layout.html.twig" %}

{% from "util/alerts.twig" import info as alert_info %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="alice-bg section-padding-bottom">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="block-wrapper">
              <div class="payment-result">
                <div class="icon">
                  <i data-feather="mail"></i>
                </div>
                <h3>Code envoyé</h3>
                {{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime})|nl2br }}
              </div>
              <hr class="mt-5">
              <p class="text-center">Vous n'avez pas reçu de code dans votre boîte mail? <a href="{{ path('fos_user_resetting_request') }}" class="btn btn-lg px-5 btn-theme-color"><i class="fa fa-redo"></i> Renvoyer</a></p>
              {{ alert_info("N'oubliez pas de vérifier dans votre spam avant de renvoyer le code.") }}
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock fos_user_content %}
