# =======================================================
# |   Application module
# =======================================================
application_create:
  path: /{_locale}/job/new
  controller: App\Controller\ApplicationController::create
  requirements:
    _locale: '%app_locales%'
  defaults:
    _locale: '%locale%'

applications_list:
  path: /{_locale}/jobs
  controller: App\Controller\ApplicationController::list
  requirements:
    _locale: '%app_locales%'
  defaults:
    _locale: '%locale%'

application_show:
  path: /{_locale}/job/{slug}
  controller: App\Controller\ApplicationController::show
  requirements:
    _locale: '%app_locales%'
  defaults:
    _locale: '%locale%'

application_edit:
  path: /{_locale}/job/{slug}/edit
  controller: App\Controller\ApplicationController::edit
  requirements:
    _locale: '%app_locales%'
  defaults:
    _locale: '%locale%'

application_delete:
  path: /{_locale}/job/{slug}/delete
  controller: App\Controller\ApplicationController::delete
  requirements:
    _locale: '%app_locales%'
  defaults:
    _locale: '%locale%'

application_traineeship:
  path: /{_locale}/jobs/stage
  controller: App\Controller\ApplicationController::traineeship
  requirements:
    _locale: '%app_locales%'
  defaults:
    _locale: '%locale%'

application_alternance:
  path: /{_locale}/jobs/alternance
  controller: App\Controller\ApplicationController::alternance
  requirements:
    _locale: '%app_locales%'
  defaults:
    _locale: '%locale%'

application_ftc:
  path: /{_locale}/jobs/CDD
  controller: App\Controller\ApplicationController::ftc
  requirements:
    _locale: '%app_locales%'
  defaults:
    _locale: '%locale%'

application_oec:
  path: /{_locale}/jobs/CDI
  controller: App\Controller\ApplicationController::oec
  requirements:
    _locale: '%app_locales%'
  defaults:
    _locale: '%locale%'
