# -----------------------------------------------------------
# |       OFFRES D'EMPLOI
# -----------------------------------------------------------
application_create:
  path: /job/new
  controller: App\Controller\ApplicationController::create

applications_list:
  path: /jobs
  controller: App\Controller\ApplicationController::list

applications_list_paginated:
  path: /jobs/page/{page<[1-9]\d*>}
  controller: App\Controller\ApplicationController::list

application_show:
  path: /job/{slug}
  controller: App\Controller\ApplicationController::show

application_edit:
  path: /job/{slug}/edit
  controller: App\Controller\ApplicationController::edit

application_delete:
  path: /job/{slug}/delete
  controller: App\Controller\ApplicationController::delete

application_apply:
  path: /job/{slug}/apply
  controller: App\Controller\ApplicationController::apply


# -----------------------------------------------------------
# |       CONCOURS
# -----------------------------------------------------------
contests_index:
  path: /contests
  controller: App\Controller\ContestController::index

contests_list_paginated:
  path: /contests/page/{page<[1-9]\d*>}
  controller: App\Controller\ContestController::index

contest_show:
  path: /contest/{slug}
  controller: App\Controller\ContestController::show
