/* a.notification-button.unread::after {
    content: ".";
    position: absolute;
    left: -3px;
    top: -27px;
    color: red;
    font-size: 25px;
} */

.newsletter-form .form-group {
    width: calc(100% - 157px);
    margin-right: 10px;
}

.terms-container .terms-sidebar .sidebar-menu.hide{
    display: none;
}

.datepicker{
    z-index: 999;
}

.alert-wrap.dismissable-alert{
    visibility: hidden;
    border-radius: 2px;
    position: fixed;
    z-index: 999;
    min-width: 360px;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
}
.alert-wrap.dismissable-alert .jy-alert{
    position: relative;
}
.alert-wrap.dismissable-alert.show {
    visibility: visible;
   -webkit-animation: fadein 0.5s, fadeout 0.5s 7s;
   animation: fadein 0.5s, fadeout 0.5s 7s;
}
@-webkit-keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}
@-webkit-keyframes fadeout {
    from {opacity: 1;}
    to {opacity: 0;}
}

@keyframes fadeout {
    from {opacity: 1;}
    to {opacity: 0;}
}

.profile-image {
    vertical-align: middle;
    border-style: none;
    height: 57px;
    background-size: contain;
}