/* a.notification-button.unread::after {
    content: ".";
    position: absolute;
    left: -3px;
    top: -27px;
    color: red;
    font-size: 25px;
} */
.text-muted-2 {
    color: #44494e!important;
}
.newsletter-form .form-group {
    width: calc(100% - 157px);
    margin-right: 10px;
}

.terms-container .terms-sidebar .sidebar-menu.hide{
    display: none;
}

.datepicker{
    z-index: 999;
}

.alert-wrap.dismissable-alert{
    visibility: hidden;
    border-radius: 2px;
    position: fixed;
    z-index: 999;
    min-width: 360px;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
}
.alert-wrap.dismissable-alert .jy-alert{
    position: relative;
}
.alert-wrap.dismissable-alert.show {
    visibility: visible;
   -webkit-animation: fadein 0.5s, fadeout 0.5s 7s;
   animation: fadein 0.5s, fadeout 0.5s 7s;
}
@-webkit-keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}
@-webkit-keyframes fadeout {
    from {opacity: 1;}
    to {opacity: 0;}
}

@keyframes fadeout {
    from {opacity: 1;}
    to {opacity: 0;}
}

.profile-image {
    vertical-align: middle;
    border-style: none;
    height: 57px;
    background-size: contain;
}

.package-wrapper .package.entreprise .package-header {
    background: url(/images/bg/cta-2-bg.jpg) no-repeat center;
    background-size: cover;
}

.regions .company-wrap{
    height: 220px;
}
.regions .company-wrap strong{
    font-style: normal;
    font-weight: normal;
}
.regions .company-wrap .body .button {
    position: absolute;
    left: 50%;
    bottom: 35px;
    width: 96%;
    transform: translateX(-50%);
}

.details-section h4 i.fas{
    height: 22px;
    position: absolute;
    top: 0;
    left: -30px;
    color: #aaa;
    font-size: 2.3rem;
}