/* a.notification-button.unread::after {
    content: ".";
    position: absolute;
    left: -3px;
    top: -27px;
    color: red;
    font-size: 25px;
} */
.text-muted-2 {
    color: #44494e!important;
}
.f-s-normal{
    font-style: normal;
}
.newsletter-form .form-group {
    width: calc(100% - 157px);
    margin-right: 10px;
}

.terms-container .terms-sidebar .sidebar-menu.hide{
    display: none;
}

.datepicker{
    z-index: 999;
}

.alert-wrap.dismissable-alert{
    visibility: hidden;
    border-radius: 2px;
    position: fixed;
    z-index: 999;
    min-width: 360px;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
}
.alert-wrap.dismissable-alert .jy-alert{
    position: relative;
}
.alert-wrap.dismissable-alert.show {
    visibility: visible;
   -webkit-animation: fadein 0.5s, fadeout 0.5s 7s;
   animation: fadein 0.5s, fadeout 0.5s 7s;
}
@-webkit-keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}
@-webkit-keyframes fadeout {
    from {opacity: 1;}
    to {opacity: 0;}
}

@keyframes fadeout {
    from {opacity: 1;}
    to {opacity: 0;}
}

.profile-image {
    vertical-align: middle;
    border-style: none;
    height: 57px;
    background-size: contain;
}

.package-wrapper .package.entreprise .package-header {
    background: url(/images/bg/cta-2-bg.jpg) no-repeat center;
    background-size: cover;
}

.regions .company-wrap{
    height: 220px;
}
.regions .company-wrap strong{
    font-style: normal;
    font-weight: normal;
}
.regions .company-wrap .body .button {
    position: absolute;
    left: 50%;
    bottom: 35px;
    width: 96%;
    transform: translateX(-50%);
}

.details-section h4 i.fas{
    height: 22px;
    position: absolute;
    top: 0;
    left: -30px;
    color: #aaa;
    font-size: 2.3rem;
}

.transition-fade {
    transition: 0.4s;
} 
html.is-animating .transition-fade {
    opacity: 0;
    transform: translateY(-33px);
}
html.is-animating.is-leaving .transition-fade {
    transition-delay: 0s!important;
}
.delay-02s{
    transition-delay: 0.2s;
}

#page-loader{
  position: absolute;
  top: 320px;
  left: 50%;
  width: 142px;
  height: 40px;
  margin: -20px 0 0 -71px;
  background: white;
  filter: contrast(20);
  opacity: .33;
  z-index: 999;
}
#page-loader  .dot {
    position: absolute;
    width: 11.5px;
    height: 11px;
    top: 12px;
    left: 15px;
    filter: blur(4px);
    background: blue;
    border-radius: 50%;
    transform: translateX(0);
    animation: dot 2.8s infinite;
  }
#page-loader .dots{
    transform: translateX(0);
    margin-top: 12px;
    margin-left: 31px;
    animation: dots 2.8s infinite;
  }
#page-loader span{
      display: block;
      float: left;
      width: 11.5px;
      height: 11.5px;
      margin-left: 16px;
      filter: blur(4px);
      background: blue;
      border-radius: 50%;
  }

@keyframes dot{
  50% {
    transform: translateX(96px)
  }
}
@keyframes dots{
  50% {
    transform: translateX(-31px)
  }
}

.beta {
    background: rgb(255, 189, 26);
    padding: 0 30px;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
}

@media (max-width: 480px) {
    .beta{
        width: 100%;
    }
}
@media (min-width: 480px) {
    .beta{
        transform: rotate(-45deg);
        position: absolute;
        top: 23px;
        left: -30px;
        z-index: 9999;
    }
}