{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="alice-bg section-padding-bottom">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="block-wrapper">
              <div class="payment-result">
                <div class="icon">
                  <i data-feather="check"></i>
                </div>
                <h3>Compte <span>Candidat</span> créé avec succès</h3>
                <p>Bienvenue sur {{ website.name }} {{ user.username }}!</p>
                <div class="result" style="padding-bottom: 0">
                  <span>Vous venez de créer un compte candidat. Il est temps de passer à l'étape suivante:<br><a href="#" class="btn-link">Créer un CV captivant et trouvez un job!</a></span>
                </div>
                <div class="w-100"></div>
                {% if targetUrl %}
                    <a href="{{ targetUrl }}" class="view-invoice">{{ 'registration.back'|trans }}</a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock fos_user_content %}
