{% extends "base.html.twig" %}
{% block title %}Page introuvable | {{ website.name }}{% endblock %}

{% block main %}
    <div class="padding-top-80 pb-5 alice-bg">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="py-5 error-page-wrap text-center white-bg">
              <div class="icon mb-0">
                <img src="{{ asset('images/error.png') }}" class="img-fluid" alt="">
              </div>
              <h1>404</h1>
              <p>La page que vous recherchez n'existe pas.</p>
              <a href="{{ path('index') }}" class="button">Aller à l'accueil</a>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
