<!-- Jobs -->
<div class="section-padding-bottom alice-bg">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section-header section-header-2 section-header-with-right-content">
                    <h2>Recent Jobs</h2>
                    <a class="header-right" href="job-listing.html">+ Browse All Jobs</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="job-list">
                    <div class="thumb">
                        <a href="">
                            <img alt="" class="img-fluid" src="images/job/company-logo-1.png">
                        </a>
                    </div>
                    <div class="body">
                        <div class="content">
                            <h4>
                                <a href="job-details.html">Designer Required</a>
                            </h4>
                            <div class="info">
                                <span class="company">
                                    <a href="">
                                        <i data-feather="briefcase"></i>Theoreo</a>
                                </span>
                                <span class="office-location">
                                    <a href="">
                                        <i data-feather="map-pin"></i>New York City</a>
                                </span>
                                <span class="job-type full-time">
                                    <a href="">
                                        <i data-feather="clock"></i>Full Time</a>
                                </span>
                            </div>
                        </div>
                        <div class="more">
                            <div class="buttons">
                                <a class="button" data-target="#apply-popup-id" data-toggle="modal" href="">Apply Now</a>
                                <a class="favourite" href="">
                                    <i data-feather="heart"></i>
                                </a>
                            </div>
                            <p class="deadline">Deadline: Oct 31,  2019</p>
                        </div>
                    </div>
                </div>
                <div class="job-list">
                    <div class="thumb">
                        <a href="">
                            <img alt="" class="img-fluid" src="images/job/company-logo-2.png">
                        </a>
                    </div>
                    <div class="body">
                        <div class="content">
                            <h4>
                                <a href="job-details.html">Project Manager</a>
                            </h4>
                            <div class="info">
                                <span class="company">
                                    <a href="">
                                        <i data-feather="briefcase"></i>Degoin</a>
                                </span>
                                <span class="office-location">
                                    <a href="">
                                        <i data-feather="map-pin"></i>San Francisco</a>
                                </span>
                                <span class="job-type part-time">
                                    <a href="">
                                        <i data-feather="clock"></i>Part Time</a>
                                </span>
                            </div>
                        </div>
                        <div class="more">
                            <div class="buttons">
                                <a class="button" data-target="#apply-popup-id" data-toggle="modal" href="">Apply Now</a>
                                <a class="favourite" href="">
                                    <i data-feather="heart"></i>
                                </a>
                            </div>
                            <p class="deadline">Deadline: Oct 31,  2019</p>
                        </div>
                    </div>
                </div>
                <div class="job-list">
                    <div class="thumb">
                        <a href="">
                            <img alt="" class="img-fluid" src="images/job/company-logo-8.png">
                        </a>
                    </div>
                    <div class="body">
                        <div class="content">
                            <h4>
                                <a href="job-details.html">Restaurant Team Member - Crew
                                </a>
                            </h4>
                            <div class="info">
                                <span class="company">
                                    <a href="">
                                        <i data-feather="briefcase"></i>Geologitic</a>
                                </span>
                                <span class="office-location">
                                    <a href="">
                                        <i data-feather="map-pin"></i>New Orleans</a>
                                </span>
                                <span class="job-type temporary">
                                    <a href="">
                                        <i data-feather="clock"></i>Temporary</a>
                                </span>
                            </div>
                        </div>
                        <div class="more">
                            <div class="buttons">
                                <a class="button" data-target="#apply-popup-id" data-toggle="modal" href="">Apply Now</a>
                                <a class="favourite" href="">
                                    <i data-feather="heart"></i>
                                </a>
                            </div>
                            <p class="deadline">Deadline: Oct 31,  2019</p>
                        </div>
                    </div>
                </div>
                <div class="job-list">
                    <div class="thumb">
                        <a href="">
                            <img alt="" class="img-fluid" src="images/job/company-logo-9.png">
                        </a>
                    </div>
                    <div class="body">
                        <div class="content">
                            <h4>
                                <a href="job-details.html">Nutrition Advisor</a>
                            </h4>
                            <div class="info">
                                <span class="company">
                                    <a href="">
                                        <i data-feather="briefcase"></i>Theoreo</a>
                                </span>
                                <span class="office-location">
                                    <a href="">
                                        <i data-feather="map-pin"></i>New York City</a>
                                </span>
                                <span class="job-type full-time">
                                    <a href="">
                                        <i data-feather="clock"></i>Full Time</a>
                                </span>
                            </div>
                        </div>
                        <div class="more">
                            <div class="buttons">
                                <a class="button" data-target="#apply-popup-id" data-toggle="modal" href="">Apply Now</a>
                                <a class="favourite" href="">
                                    <i data-feather="heart"></i>
                                </a>
                            </div>
                            <p class="deadline">Deadline: Oct 31,  2019</p>
                        </div>
                    </div>
                </div>
                <div class="job-list">
                    <div class="thumb">
                        <a href="">
                            <img alt="" class="img-fluid" src="images/job/company-logo-10.png">
                        </a>
                    </div>
                    <div class="body">
                        <div class="content">
                            <h4>
                                <a href="job-details.html">UI Designer</a>
                            </h4>
                            <div class="info">
                                <span class="company">
                                    <a href="">
                                        <i data-feather="briefcase"></i>Degoin</a>
                                </span>
                                <span class="office-location">
                                    <a href="">
                                        <i data-feather="map-pin"></i>San Francisco</a>
                                </span>
                                <span class="job-type part-time">
                                    <a href="">
                                        <i data-feather="clock"></i>Part Time</a>
                                </span>
                            </div>
                        </div>
                        <div class="more">
                            <div class="buttons">
                                <a class="button" data-target="#apply-popup-id" data-toggle="modal" href="">Apply Now</a>
                                <a class="favourite" href="">
                                    <i data-feather="heart"></i>
                                </a>
                            </div>
                            <p class="deadline">Deadline: Oct 31,  2019</p>
                        </div>
                    </div>
                </div>
                <div class="job-list">
                    <div class="thumb">
                        <a href="">
                            <img alt="" class="img-fluid" src="images/job/company-logo-3.png">
                        </a>
                    </div>
                    <div class="body">
                        <div class="content">
                            <h4>
                                <a href="job-details.html">Land Development Marketer</a>
                            </h4>
                            <div class="info">
                                <span class="company">
                                    <a href="">
                                        <i data-feather="briefcase"></i>Realouse</a>
                                </span>
                                <span class="office-location">
                                    <a href="">
                                        <i data-feather="map-pin"></i>Washington, D.C.</a>
                                </span>
                                <span class="job-type freelance">
                                    <a href="">
                                        <i data-feather="clock"></i>Freelance</a>
                                </span>
                            </div>
                        </div>
                        <div class="more">
                            <div class="buttons">
                                <a class="button" data-target="#apply-popup-id" data-toggle="modal" href="">Apply Now</a>
                                <a class="favourite" href="">
                                    <i data-feather="heart"></i>
                                </a>
                            </div>
                            <p class="deadline">Deadline: Oct 31,  2019</p>
                        </div>
                    </div>
                </div>
                <div class="apply-popup">
                    <div aria-hidden="true" class="modal fade" id="apply-popup-id" role="dialog" tabindex="-1">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">
                                        <i data-feather="edit"></i>APPLY FOR THIS JOB</h5>
                                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form action="">
                                        <div class="form-group">
                                            <input class="form-control" placeholder="Full Name" type="text">
                                        </div>
                                        <div class="form-group">
                                            <input class="form-control" placeholder="Email Address" type="email">
                                        </div>
                                        <div class="form-group">
                                            <textarea class="form-control" placeholder="Message"></textarea>
                                        </div>
                                        <div class="form-group file-input-wrap">
                                            <label for="up-cv">
                                                <input id="up-cv" type="file">
                                                <i data-feather="upload-cloud"></i>
                                                <span>Upload your resume
                                                    <span>(pdf,zip,doc,docx)</span>
                                                </span>
                                            </label>
                                        </div>
                                        <div class="more-option">
                                            <input class="custom-radio" id="radio-4" name="termsandcondition" type="checkbox">
                                            <label for="radio-4">
                                                <span class="dot"></span>
                                                I accept the
                                                <a href="">terms & conditions</a>
                                            </label>
                                        </div>
                                        <button class="button primary-bg btn-block">Apply Now</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Jobs End -->
