{% extends 'base.html.twig' %}

{% import 'util/breadcrumb.html.twig' as breadcrumb %}

{% block title %}Offres d'emploi et de stages au Sénégal | {{ parent() }}{% endblock %}

{% block main %}

    {{ breadcrumb.level_1('job.list.title') }}

    <!-- Job Listing -->
    <div class="alice-bg section-padding-bottom">
      <div class="container">
        <div class="row no-gutters">
          <div class="col">
            <div class="job-listing-container">
              <div class="filtered-job-listing-wrapper">

                {% include 'common/results-view.html.twig' with {type: 'job'} %}
                
                {# Jobs listing #}
                {% include 'application/jobs-items.html.twig' with {list: list, _locale: _locale} %}

                {% if list.haveToPaginate %}
                  <nav class="navigation pagination mt-5">
                    <div class="nav-links mx-auto mt-3">
                      {{ pagerfanta(list, 'twitter_bootstrap4_translated',
                          { routeName: 'applications_list_paginated',
                          routeParams: app.request.query.all,
                          prev_message: '<i class="fas fa-angle-left"></i> Précédant',
                          next_message: 'Suivant <i class="fas fa-angle-right"></i>',
                          page_template: '<a class="page-numbers p-3" href="%href%" %rel%>%text%</a>'
                          })
                      }}
                    </div>
                  </nav>
                {% endif %}
                {# <div class="pagination-list text-center">
                  <nav class="navigation pagination">
                    <div class="nav-links">
                      <a class="prev page-numbers" href="#"><i class="fas fa-angle-left"></i></a>
                      <a class="page-numbers" href="#">1</a>
                      <span aria-current="page" class="page-numbers current">2</span>
                      <a class="page-numbers" href="#">3</a>
                      <a class="page-numbers" href="#">4</a>
                      <a class="next page-numbers" href="#"><i class="fas fa-angle-right"></i></a>
                    </div>
                  </nav>                
                </div> #}
              </div>

              {% include 'common/results-filter.html.twig' with {type: 'job' } %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Job Listing End -->

    {% include 'common/call-to-action.html.twig' %}
{% endblock %}
