{% extends 'base.html.twig' %}

{% import 'util/breadcrumb.html.twig' as breadcrumb %}

{% block title %}Toutes les offres &ndash; {{ parent() }}{% endblock %}

{% block main %}

    {{ breadcrumb.level_1('job.list.title') }}

    <!-- Job Listing -->
    <div class="alice-bg section-padding-bottom">
      <div class="container">
        <div class="row no-gutters">
          <div class="col">
            <div class="job-listing-container">
              <div class="filtered-job-listing-wrapper">
                <div class="job-view-controller-wrapper">
                  <div class="job-view-controller">
                    <div class="controller list active">
                      <i data-feather="menu"></i>
                    </div>
                    <div class="controller grid">
                      <i data-feather="grid"></i>
                    </div>
                    <div class="job-view-filter">
                      <select class="selectpicker">
                        <option value="" selected>Most Recent</option>
                        <option value="california">Top Rated</option>
                        <option value="las-vegas">Most Popular</option>
                      </select>
                    </div>
                  </div>
                  <div class="showing-number">
                    <span>Showing 1–12 of 28 Jobs</span>
                  </div>
                </div>
                
                {# Jobs listing #}
                {% include 'application/job-result.html.twig' with {list: list} %}

                <div class="pagination-list text-center">
                  <nav class="navigation pagination">
                    <div class="nav-links">
                      <a class="prev page-numbers" href="job-listing.html#"><i class="fas fa-angle-left"></i></a>
                      <a class="page-numbers" href="job-listing.html#">1</a>
                      <span aria-current="page" class="page-numbers current">2</span>
                      <a class="page-numbers" href="job-listing.html#">3</a>
                      <a class="page-numbers" href="job-listing.html#">4</a>
                      <a class="next page-numbers" href="job-listing.html#"><i class="fas fa-angle-right"></i></a>
                    </div>
                  </nav>                
                </div>
              </div>
              <div class="job-filter-wrapper">
                <div class="selected-options same-pad">
                  <div class="selection-title">
                    <h4>You Selected</h4>
                    <a href="job-listing.html#">Clear All</a>
                  </div>
                  <ul class="filtered-options">
                  </ul>
                </div>
                <div class="job-filter-dropdown same-pad category">
                  <select class="selectpicker">
                    <option value="" selected>Category</option>
                    <option value="california">Accounting / Finance</option>
                    <option value="california">Education</option>
                    <option value="california">Design &amp; Creative</option>
                    <option value="california">Health Care</option>
                    <option value="california">Engineer &amp; Architects</option>
                    <option value="california">Marketing &amp; Sales</option>
                    <option value="california">Garments / Textile</option>
                    <option value="california">Customer Support</option>
                    <option value="california">Digital Media</option>
                    <option value="california">Telecommunication</option>
                  </select>
                </div>
                <div class="job-filter-dropdown same-pad location">
                  <select class="selectpicker">
                    <option value="" selected>Location</option>
                    <option value="california">Chicago</option>
                    <option value="california">New York City</option>
                    <option value="california">San Francisco</option>
                    <option value="california">Washington</option>
                    <option value="california">Boston</option>
                    <option value="california">Los Angeles</option>
                    <option value="california">Seattle</option>
                    <option value="california">Las Vegas</option>
                    <option value="california">San Diego</option>
                  </select>
                </div>
                <div data-id="job-type" class="job-filter job-type same-pad">
                  <h4 class="option-title">Job Type</h4>
                  <ul>
                    <li class="full-time"><i data-feather="clock"></i><a href="job-listing.html#" data-attr="Full Time">Full Time</a></li>
                    <li class="part-time"><i data-feather="clock"></i><a href="job-listing.html#" data-attr="Part Time">Part Time</a></li>
                    <li class="freelance"><i data-feather="clock"></i><a href="job-listing.html#" data-attr="Freelance">Freelance</a></li>
                    <li class="temporary"><i data-feather="clock"></i><a href="job-listing.html#" data-attr="Temporary">Temporary</a></li>
                  </ul>
                </div>
                <div data-id="experience" class="job-filter experience same-pad">
                  <h4 class="option-title">Experience</h4>
                  <ul>
                    <li><a href="job-listing.html#" data-attr="Fresh">Fresh</a></li>
                    <li><a href="job-listing.html#" data-attr="Less than 1 year">Less than 1 year</a></li>
                    <li><a href="job-listing.html#" data-attr="2 Year">2 Year</a></li>
                    <li><a href="job-listing.html#" data-attr="3 Year">3 Year</a></li>
                    <li><a href="job-listing.html#" data-attr="4 Year">4 Year</a></li>
                    <li><a href="job-listing.html#" data-attr="5 Year">5 Year</a></li>
                    <li><a href="job-listing.html#" data-attr="Avobe 5 Years">Avobe 5 Years</a></li>
                  </ul>
                </div>
                <div class="job-filter same-pad">
                  <h4 class="option-title">Salary Range</h4>
                  <div class="price-range-slider">
                    <div class="nstSlider" data-range_min="0" data-range_max="10000" 
                     data-cur_min="0"    data-cur_max="6130">
                      <div class="bar"></div>
                      <div class="leftGrip"></div>
                      <div class="rightGrip"></div>
                      <div class="grip-label">
                        <span class="leftLabel"></span>
                        <span class="rightLabel"></span>
                      </div>
                    </div>
                  </div>
                </div>
                <div data-id="post" class="job-filter post same-pad">
                  <h4 class="option-title">Date Posted</h4>
                  <ul>
                    <li><a href="job-listing.html#" data-attr="Last hour">Last hour</a></li>
                    <li><a href="job-listing.html#" data-attr="Last 24 hour">Last 24 hour</a></li>
                    <li><a href="job-listing.html#" data-attr="Last 7 days">Last 7 days</a></li>
                    <li><a href="job-listing.html#" data-attr="Last 14 days">Last 14 days</a></li>
                    <li><a href="job-listing.html#" data-attr="Last 30 days">Last 30 days</a></li>
                  </ul>
                </div>
                <div data-id="gender" class="job-filter same-pad gender">
                  <h4 class="option-title">Gender</h4>
                  <ul>
                    <li><a href="job-listing.html#" data-attr="Male">Male</a></li>
                    <li><a href="job-listing.html#" data-attr="Female">Female</a></li>
                  </ul>
                </div>
                <div data-id="qualification" class="job-filter qualification same-pad">
                  <h4 class="option-title">Qualification</h4>
                  <ul>
                    <li><a href="job-listing.html#" data-attr="Matriculation">Matriculation</a></li>
                    <li><a href="job-listing.html#" data-attr="Intermidiate">Intermidiate</a></li>
                    <li><a href="job-listing.html#" data-attr="Gradute">Gradute</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Job Listing End -->

    {% include 'common/call-to-action.html.twig' %}
{% endblock %}
