{% extends 'admin/base.html.twig' %}

{% block left_sidebar %}

{% include 'admin/common/left-sidebar.twig' with { active: 'blog_index' } %}

{% endblock %}

{% block main %}
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title"><span><i class="fa fa-newspaper-o"></i> Blog</span></a></h3>
            <hr>
            <h4>Liste des articles</h4>
        </div>
        <div class="panel-body">
            {% include 'admin/blog/table.html.twig' with {articles: articles} %}
        </div>
        <div class="panel-footer pl-0 pb-0 mt-5">
            <a href="{{ path('admin_blog_article_new') }}" class="mb-3 btn btn-primary"><i class="fa fa-plus-circle"></i> Ajouter un article</a>
        </div>
    </div>
{% endblock %}
