<!-- Statistics -->
<div class="padding-top-90 padding-bottom-60 fact-bg">
    <div class="container">
        <div class="row fact-items">
            <div class="col-md-3 col-sm-6">
                <div class="fact">
                    <div class="fact-icon">
                        <i data-feather="briefcase"></i>
                    </div>
                    <p class="fact-number">
                        <span class="count" data-form="2000" data-to="7891"></span>
                    </p>
                    <p class="fact-name">Offres d'emploi</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="fact">
                    <div class="fact-icon">
                        <i data-feather="users"></i>
                    </div>
                    <p class="fact-number">
                        <span class="count" data-form="3000" data-to="79405"></span>
                    </p>
                    <p class="fact-name">Candidats</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="fact">
                    <div class="fact-icon">
                        <i data-feather="file-text"></i>
                    </div>
                    <p class="fact-number">
                        <span class="count" data-form="3000" data-to="6129"></span>
                    </p>
                    <p class="fact-name">CV</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="fact">
                    <div class="fact-icon">
                        <i data-feather="award"></i>
                    </div>
                    <p class="fact-number">
                        <span class="count" data-form="0" data-to="1007"></span>
                    </p>
                    <p class="fact-name">Companies</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Statistics -->
