<article class="blog-list">
    <div class="info">
        <span class="date">24 avril 2019</span>
        <span class="author">
            <a href="#" onclick="return false;">
                <i data-feather="user"></i>Bechir Ba</a>
        </span>
        <span class="comments">
            <i data-feather="message-circle"></i>42</span>
    </div>
    <div class="content">
        <h3>
            <a href="blog/this-is-for-tests-only">This is for tests only</a>
        </h3>
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.  but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release...</p>
    </div>
    <div class="read-more">
        <a class="button" href="blog/this-is-for-tests-only">Lire la suite</a>
    </div>
</article>
<article class="blog-list">
    <div class="info">
        <span class="date">31 janvier, 2018</span>
        <span class="author">
            <a href="#" onclick="return false;">
                <i data-feather="user"></i>rand0mdev</a>
        </span>
        <span class="comments">
            <i data-feather="message-circle"></i>16</span>
    </div>
    <div class="content">
        <h3>
            <a href="blog/this-is-for-tests-only">An other test title for fun</a>
        </h3>
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.  but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release...</p>
    </div>
    <div class="read-more">
        <a class="button" href="blog/this-is-for-tests-only">Lire la suite</a>
    </div>
</article>
