{% extends 'base.html.twig' %}
{% import 'util/breadcrumb.html.twig' as breadcrumb %}

{% trans_default_domain 'blog' %}

{% block title %} {{ 'index.title'|trans({'%name%': website.name}) }}{% endblock %}

{% block main %}

    {{ breadcrumb.level_1('layout.blog') }}

    <div class="alice-bg section-padding-bottom">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="blog-post-wrapper">
                        <div class="row">
                            {# {% for article in articles %} #}
                                {% include "blog/article-grid-item.html.twig" %}
                            {# {% endfor %} #}
                        </div>

                        <div class="row">
                                <div class="col">
                                  <div class="pagination-list text-center">
                                    <nav class="navigation pagination padding-top-10">
                                      <div class="nav-links">
                                        <a class="prev page-numbers" href="#"><i class="fas fa-angle-left"></i></a>
                                        <a class="page-numbers" href="#">1</a>
                                        <span aria-current="page" class="page-numbers current">2</span>
                                        <a class="page-numbers" href="#">3</a>
                                        <a class="page-numbers" href="#">4</a>
                                        <a class="next page-numbers" href="#"><i class="fas fa-angle-right"></i></a>
                                      </div>
                                    </nav>                
                                  </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}