{% extends 'base.html.twig' %}
{% import 'util/breadcrumb.html.twig' as breadcrumb %}

{% block title %}{{ website.name }} &mdash; Blog & Astuces pour votre parcours professionnel{% endblock %}

{% block main %}

    {{ breadcrumb.level_1('Blog & Astuces pour votre parcours professionnel') }}

    <div class="alice-bg section-padding-bottom">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="blog-post-wrapper">
                        <div class="row">
                            {# {% for article in articles %} #}
                                {% include "blog/article-grid-item.html.twig" with {articles: articles} %}
                            {# {% endfor %} #}
                        </div>

                        {% if articles.haveToPaginate %}
                          <nav class="navigation pagination mt-5">
                            <div class="nav-links mx-auto mt-3">
                              {{ pagerfanta(articles, 'twitter_bootstrap4_translated',
                                  { routeName: 'blog_list_paginated',
                                    routeParams: app.request.query.all,
                                    prev_message: '<i class="fas fa-angle-left"></i> Précédant',
                                    next_message: 'Suivant <i class="fas fa-angle-right"></i>',
                                    page_template: '<a class="page-numbers p-3" href="%href%" %rel%>%text%</a>'
                                  })
                              }}
                            </div>
                          </nav>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}