{% extends 'base.html.twig' %}
{% import 'util/breadcrumb.html.twig' as breadcrumb %}

{% trans_default_domain 'blog' %}

{% block title %} {{ 'index.title'|trans({'%name%': website.name}) }}{% endblock %}

{% block main %}

    {{ breadcrumb.level_1('layout.blog') }}

    <div class="alice-bg section-padding-bottom">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="blog-post-wrapper">

                        {% include 'blog/article-section.html.twig' %}

                        <div class="pagination-list text-center">
                            <nav class="navigation pagination">
                                <div class="nav-links">
                                    <a class="prev page-numbers" href="#" onclick="return false;">
                                        <i class="fas fa-angle-left"></i>
                                    </a>
                                    <a class="page-numbers" href="#" onclick="return false;">1</a>
                                    <span aria-current="page" class="page-numbers current">2</span>
                                    <a class="page-numbers" href="#" onclick="return false;">3</a>
                                    <a class="page-numbers" href="#" onclick="return false;">4</a>
                                    <a class="next page-numbers" href="#" onclick="return false;">
                                        <i class="fas fa-angle-right"></i>
                                    </a>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}