{% macro jobTypeClass(contract) %}
    {% set class = contract|lower %}

    {% if class == 'cdd' or class == 'stage' %}
        {% set class = 'temporary' %}
    {% elseif class == 'cdi' %}
        {% set class = 'full-time' %}
    {% elseif class == 'alternance' %}
        {% set class = 'part-time' %}
    {% endif %}
    {{ class }}
{% endmacro %}

{% macro formRequired() %}
    <span class="text-danger">*</span>
{% endmacro %}

{% macro acceptTermsConditions() %}
    {{ 'text.accept_terms'|trans({'%terms_url%': path('terms_conditions'), '%privacy_url%': path('privacy')})|raw }}
{% endmacro %}