{% extends 'base.html.twig' %}

{% import 'util/breadcrumb.html.twig' as breadcrumb %}

{% set company = app.user.company %}

{% block main %}

    {{ breadcrumb.level_1('employer.breadcrumb') }}

    {% block top_level %}{% endblock %}

    <div class="alice-bg section-padding-bottom">
        <div class="container no-gliters">
            <div class="row no-gliters">
                <div class="col">
                    <div class="dashboard-container">
                        <div class="dashboard-content-wrapper {% block wrapper_class %}{% endblock %}">
                            {% block content %}
                            {% endblock %}
                        </div>
                        {% include 'company/dashboard-sidebar.html.twig' with {active: active, company: company} %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
