<div class="alert-wrap dismissable-alert">
    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="jy-alert {{ type }}-alert" role="alert">
                <div class="icon">
                    {% set icon = 'check-circle' %}
                    {% if type == 'danger' %}
                        {% set icon = 'exclamation-circle' %}
                    {% elseif icon == 'info'  %}
                        {% set icon = 'info-circle' %}
                    {% endif %}
                    
                    <i class="fas fa-{{ icon }}"></i>
                </div>
                <p>{{ message|trans }}</p>
                <div class="close_">
                    <a href="#">
                        <i class="fas fa-times"></i>
                    </a>
                </div>
            </div>
        {% endfor %}
    {% endfor %}
</div>
