<div class="dropdown header-top-notification">
    <a class="notification-button unread" href="">{{ 'notification.title'|trans }}</a>
    <div class="notification-card">
        <div class="notification-head">
            <span>{{ 'notification.title'|trans }}</span>
            <a href="">{{ 'notification.mark_all_as_read'|trans }}</a>
        </div>
        <div class="notification-body">
            <a class="notification-list" href="home-2.html">
                <i class="fas fa-bolt"></i>
                <p>Your Resume Updated!</p>
                <span class="time">5 hours ago</span>
            </a>
            <a class="notification-list" href="">
                <i class="fas fa-arrow-circle-down"></i>
                <p>Someone downloaded resume</p>
                <span class="time">11 hours ago</span>
            </a>
            <a class="notification-list" href="">
                <i class="fas fa-check-square"></i>
                <p>You applied for Project Manager
                    <span>@homeland</span>
                </p>
                <span class="time">11 hours ago</span>
            </a>
            <a class="notification-list" href="">
                <i class="fas fa-user"></i>
                <p>You changed password</p>
                <span class="time">5 hours ago</span>
            </a>
            <a class="notification-list" href="">
                <i class="fas fa-arrow-circle-down"></i>
                <p>Someone downloaded resume</p>
                <span class="time">11 hours ago</span>
            </a>
        </div>
        <div class="notification-footer">
            <a href="">{{ 'notification.see_all'|trans }}</a>
        </div>
    </div>
</div>
