<!-- NewsLetter -->
<div class="newsletter-bg padding-top-90 padding-bottom-90">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-lg-6">
                <div class="newsletter-wrap">
                    <h3>Newsletter</h3>
                    <p>Get e-mail updates about our latest news and Special offers. We don’t send spam so don’t worry.</p>
                    <form action="" class="newsletter-form form-inline">
                        <div class="form-group">
                            <input class="form-control" placeholder="Email address..." type="text">
                        </div>
                        <button class="btn button">Submit<i class="fas fa-caret-right"></i>
                        </button>
                        <p class="newsletter-error">0 - Please enter a value</p>
                        <p class="newsletter-success">Thank you for subscribing!</p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- NewsLetter End -->
