<!-- Pricing -->
<div class="section-padding-bottom">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section-header">
                    <h2>Our Package</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="pricing-controller">
                    <span class="duration duration-month active">Monthly</span>
                    <div class="switch-wrap">
                        <span class="price-switch"></span>
                    </div>
                    <span class="duration duration-year">Annually
                        <span>20% off</span>
                    </span>
                </div>
                <div class="package-wrapper">
                    <div class="package free">
                        <div class="package-header">
                            <h5 class="cost">$00<span>/Month</span>
                            </h5>
                            <span class="title">Free Trail</span>
                        </div>
                        <div class="package-features">
                            <ul>
                                <li class="active">Unlimited Reservations</li>
                                <li class="active">2 Clients and Products</li>
                                <li class="active">5Gb of Storage</li>
                                <li class="active">Housekeeping Status</li>
                                <li>Data Security and Backups</li>
                                <li>Web Booking Widget</li>
                                <li>Highlighted in Search Results</li>
                            </ul>
                            <a class="button" href="home-3.html#">Buy Now</a>
                        </div>
                    </div>
                    <div class="package professional">
                        <div class="package-header">
                            <h5 class="cost monthly-rate">$29<span>/Month</span>
                            </h5>
                            <h5 class="cost yearly-rate hidden">$14<span>/Month</span>
                            </h5>
                            <span class="title">Professional</span>
                        </div>
                        <div class="package-features">
                            <ul>
                                <li class="active">Unlimited Reservations</li>
                                <li class="active">2 Clients and Products</li>
                                <li class="active">5Gb of Storage</li>
                                <li class="active">Housekeeping Status</li>
                                <li class="active">Data Security and Backups</li>
                                <li class="active">Web Booking Widget</li>
                                <li class="active">Highlighted in Search Results</li>
                            </ul>
                            <a class="button" href="home-3.html#">Buy Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Pricing End -->

