{% if not is_granted('ROLE_USER') %}
    <div class="padding-top-90 padding-bottom-90 reveal-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="call-to-action-box candidate-box">
                        <div class="icon">
                            <img alt="" src="{{ asset('images/register-box/1.png') }}">
                        </div>
                        <span>Vous êtes</span>
                        <h3>Candidat?</h3>
                        <a data-target="#exampleModalLong2" data-toggle="modal" href="{{ path('fos_user_registration_register') }}">Inscrivez-vous ici
                            <i class="fas fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="call-to-action-box employer-register">
                        <div class="icon">
                            <img src="{{ asset('images/register-box/2.png') }}" alt="">
                        </div>
                        <span>Vous êtes</span>
                        <h3>Employeur?</h3>
                        <a data-target="#exampleModalLong2" data-toggle="modal" href="{{ path('fos_user_registration_register') }}">Inscrivez-vous maintenant
                            <i class="fas fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}