{% if not is_granted('ROLE_ADMIN') %}
    <div class="padding-top-90 padding-bottom-90">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="call-to-action-box candidate-box">
                        <div class="icon">
                            <img alt="" src="{{ asset('images/register-box/1.png') }}">
                        </div>
                        <span>Are You</span>
                        <h3>Candidate?</h3>
                        <a data-target="#exampleModalLong2" data-toggle="modal" href="about-us.html#">Register Now
                            <i class="fas fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="call-to-action-box employer-register">
                        <div class="icon">
                            <img src="{{ asset('images/register-box/2.png') }}" alt="">
                        </div>
                        <span>Are You</span>
                        <h3>Employer?</h3>
                        <a data-target="#exampleModalLong2" data-toggle="modal" href="about-us.html#">Register Now
                            <i class="fas fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}