<div class="{{ type }}-view-controller-wrapper">
    <div class="{{ type }}-view-controller">
        <div class="controller list active">
            <i data-feather="menu"></i>
        </div>
        <div class="controller grid">
            <i data-feather="grid"></i>
        </div>
        <div class="{{ type }}-view-filter">
            <select class="selectpicker">
            <option value="recent" selected>Plus Récent</option>
            <option value="popular">Plus Populaire</option>
            </select>
        </div>
    </div>
    <div class="showing-number">
        {# <span>Showing 1–12 of 28 Jobs</span> #}
        <span>Résultats</span>
    </div>
</div>