<!-- Testimonial -->
<div class="section-padding-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="testimonial">
                    <div class="testimonial-quote">
                        <img alt="" class="img-fluid" src="images/testimonial/quote.png">
                    </div>
                    <div class="testimonial-for">
                        <div class="testimonial-item">
                            <p>“On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charmsto send our denim shorts wardrob One”</p>
                            <h5>Maria Marlin @ Google</h5>
                        </div>
                        <div class="testimonial-item">
                            <p>“On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charmsto send our denim shorts wardrob Two”</p>
                            <h5>Laura Harper @ Amazon</h5>
                        </div>
                        <div class="testimonial-item">
                            <p>“On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charmsto send our denim shorts wardrob Three”</p>
                            <h5>John Doe @ Envato</h5>
                        </div>
                        <div class="testimonial-item">
                            <p>“On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charmsto send our denim shorts wardrob Four”</p>
                            <h5>Jenny Doe @ Dribbble</h5>
                        </div>
                        <div class="testimonial-item">
                            <p>“On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charmsto send our denim shorts wardrob Five”</p>
                            <h5>Michle Clark @ Apple</h5>
                        </div>
                        <div class="testimonial-item">
                            <p>“On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charmsto send our denim shorts wardrob Two”</p>
                            <h5>Laura Harper @ Amazon</h5>
                        </div>
                        <div class="testimonial-item">
                            <p>“On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charmsto send our denim shorts wardrob Three”</p>
                            <h5>John Doe @ Envato</h5>
                        </div>
                    </div>
                    <div class="testimonial-nav">
                        <div class="commenter-thumb">
                            <img alt="" class="img-fluid commenter" src="images/testimonial/thumb-1.jpg">
                            <img alt="" class="comapnyLogo" src="images/testimonial/1.png">
                        </div>
                        <div class="commenter-thumb">
                            <img alt="" class="img-fluid commenter" src="images/testimonial/thumb-2.jpg">
                            <img alt="" class="comapnyLogo" src="images/testimonial/2.png">
                        </div>
                        <div class="commenter-thumb">
                            <img alt="" class="img-fluid commenter" src="images/testimonial/thumb-3.jpg">
                            <img alt="" class="comapnyLogo" src="images/testimonial/3.png">
                        </div>
                        <div class="commenter-thumb">
                            <img alt="" class="img-fluid commenter" src="images/testimonial/thumb-4.jpg">
                            <img alt="" class="comapnyLogo" src="images/testimonial/4.png">
                        </div>
                        <div class="commenter-thumb">
                            <img alt="" class="img-fluid commenter" src="images/testimonial/thumb-5.jpg">
                            <img alt="" class="comapnyLogo" src="images/testimonial/5.png">
                        </div>
                        <div class="commenter-thumb">
                            <img alt="" class="img-fluid commenter" src="images/testimonial/thumb-2.jpg">
                            <img alt="" class="comapnyLogo" src="images/testimonial/2.png">
                        </div>
                        <div class="commenter-thumb">
                            <img alt="" class="img-fluid commenter" src="images/testimonial/thumb-3.jpg">
                            <img alt="" class="comapnyLogo" src="images/testimonial/3.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->
