<!-- Top Companies -->
<div class="section-padding-top padding-bottom-90">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section-header">
                    <h2>Top Companies</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="company-carousel owl-carousel">
                    <div class="company-wrap">
                        <div class="thumb">
                            <a href="">
                                <img alt="" class="img-fluid" src="images/company/company-logo-1.png">
                            </a>
                        </div>
                        <div class="body">
                            <h4>
                                <a href="employer-details.html">Digoin</a>
                            </h4>
                            <span>Kansas City, Missouri</span>
                            <a class="button" href="job-listing.html">4 Open Positions</a>
                        </div>
                    </div>
                    <div class="company-wrap">
                        <div class="thumb">
                            <a href="">
                                <img alt="" class="img-fluid" src="images/company/company-logo-2.png">
                            </a>
                        </div>
                        <div class="body">
                            <h4>
                                <a href="employer-details.html">Orion Ltd.</a>
                            </h4>
                            <span>Sacramento, California</span>
                            <a class="button" href="job-listing.html">2 Open Positions</a>
                        </div>
                    </div>
                    <div class="company-wrap">
                        <div class="thumb">
                            <a href="">
                                <img alt="" class="img-fluid" src="images/company/company-logo-3.png">
                            </a>
                        </div>
                        <div class="body">
                            <h4>
                                <a href="employer-details.html">Realhouse</a>
                            </h4>
                            <span>London, United Kingdom</span>
                            <a class="button" href="job-listing.html">4 Open Positions</a>
                        </div>
                    </div>
                    <div class="company-wrap">
                        <div class="thumb">
                            <a href="">
                                <img alt="" class="img-fluid" src="images/company/company-logo-4.png">
                            </a>
                        </div>
                        <div class="body">
                            <h4>
                                <a href="employer-details.html">BioPro</a>
                            </h4>
                            <span>Ajax, Ontarioland</span>
                            <a class="button" href="job-listing.html">1 Open Positions</a>
                        </div>
                    </div>
                    <div class="company-wrap">
                        <div class="thumb">
                            <a href="">
                                <img alt="" class="img-fluid" src="images/company/company-logo-1.png">
                            </a>
                        </div>
                        <div class="body">
                            <h4>
                                <a href="employer-details.html">Digoin</a>
                            </h4>
                            <span>Kansas City, Missouri</span>
                            <a class="button" href="job-listing.html">4 Open Positions</a>
                        </div>
                    </div>
                    <div class="company-wrap">
                        <div class="thumb">
                            <a href="">
                                <img alt="" class="img-fluid" src="images/company/company-logo-2.png">
                            </a>
                        </div>
                        <div class="body">
                            <h4>
                                <a href="employer-details.html">Orion Ltd.</a>
                            </h4>
                            <span>Sacramento, California</span>
                            <a class="button" href="job-listing.html">2 Open Positions</a>
                        </div>
                    </div>
                    <div class="company-wrap">
                        <div class="thumb">
                            <a href="">
                                <img alt="" class="img-fluid" src="images/company/company-logo-3.png">
                            </a>
                        </div>
                        <div class="body">
                            <h4>
                                <a href="employer-details.html">Realhouse</a>
                            </h4>
                            <span>London, United Kingdom</span>
                            <a class="button" href="job-listing.html">4 Open Positions</a>
                        </div>
                    </div>
                    <div class="company-wrap">
                        <div class="thumb">
                            <a href="">
                                <img alt="" class="img-fluid" src="images/company/company-logo-4.png">
                            </a>
                        </div>
                        <div class="body">
                            <h4>
                                <a href="employer-details.html">BioPro</a>
                            </h4>
                            <span>Ajax, Ontarioland</span>
                            <a class="button" href="job-listing.html">1 Open Positions</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Top Companies End -->
