{% extends 'user/base.html.twig' %}

{% import 'util/util.twig' as util %}

{% trans_default_domain 'user' %}

{% block title %}{{ 'edit_resume'|trans }}{% endblock %}

{% block content %}
<div class="download-resume dashboard-section">
    <div class="update-file">
        <input type="file">Uploadez votre CV
        <i data-feather="edit-2"></i>
    </div>
    <span>Uploadez un fichier PDF</span>
</div>
<div class="skill-and-profile dashboard-section">
    <div class="skill">
        <label>Skills:</label>
        <a href="#">Design</a>
        <a href="#">Illustration</a>
        <a href="#">iOS</a>
        <!-- Button trigger modal -->
        <button class="btn btn-primary edit-button" data-target="#modal-skill" data-toggle="modal" type="button">
            <i data-feather="edit-2"></i>
        </button>
        <!-- Modal -->
        <div aria-hidden="true" class="modal fade" id="modal-skill" role="dialog" tabindex="-1">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="title">
                            <h4><i data-feather="git-branch"></i>Mes comptétances</h4>
                        </div>
                        <div class="content">
                            <form action="#">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Ajouter des compétances (6 maximum)</label>
                                    <div class="col-sm-9">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">01</div>
                                            </div>
                                            <input class="form-control" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="offset-sm-3 col-sm-9">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">02</div>
                                            </div>
                                            <input class="form-control" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="offset-sm-3 col-sm-9">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">03</div>
                                            </div>
                                            <input class="form-control" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="offset-sm-3 col-sm-9">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">04</div>
                                            </div>
                                            <input class="form-control" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="offset-sm-3 col-sm-9">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">05</div>
                                            </div>
                                            <input class="form-control" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="offset-sm-3 col-sm-9">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">06</div>
                                            </div>
                                            <input class="form-control" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="offset-sm-3 col-sm-9">
                                        <div class="buttons">
                                            <button class="primary-bg">Entregistrer les modifications</button>
                                            <button class="" data-dismiss="modal">Annuler</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="social-profile">
        <label>Social:</label>
        <a href="#">
            <i class="fab fa-facebook-f"></i>
        </a>
        <a href="#">
            <i class="fab fa-twitter"></i>
        </a>
        <a href="#">
            <i class="fab fa-linkedin-in"></i>
        </a>
        <a href="#">
            <i class="fab fa-github"></i>
        </a>
        <!-- Button trigger modal -->
        <button class="btn btn-primary edit-button" data-target="#modal-social" data-toggle="modal" type="button">
            <i data-feather="edit-2"></i>
        </button>
        <!-- Modal -->
        <div aria-hidden="true" class="modal fade" id="modal-social" role="dialog" tabindex="-1">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="title">
                            <h4><i data-feather="git-branch"></i>Réseaux sociaux</h4>
                        </div>
                        <div class="content">
                            <form action="#">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Liens vers vos profils</label>
                                    <div class="col-sm-9">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    <i class="fab fa-facebook-f"></i>
                                                </div>
                                            </div>
                                            <input class="form-control" placeholder="facebook.com/nom-utilisateur" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="offset-sm-3 col-sm-9">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    <i class="fab fa-twitter"></i>
                                                </div>
                                            </div>
                                            <input class="form-control" placeholder="twitter.com/nom-utilisateur" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="offset-sm-3 col-sm-9">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    <i class="fab fa-linkedin-in"></i>
                                                </div>
                                            </div>
                                            <input class="form-control" placeholder="linkedin.com/nom-utilisateur" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="offset-sm-3 col-sm-9">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    <i class="fab fa-github"></i>
                                                </div>
                                            </div>
                                            <input class="form-control" placeholder="github.com/nom-utilisateur" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="offset-sm-3 col-sm-9">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text dropdown-label">
                                                    <select class="form-control" id="exampleFormControlSelect1">
                                                        <option>Choisir</option>
                                                        <option>2</option>
                                                        <option>3</option>
                                                        <option>4</option>
                                                        <option>5</option>
                                                    </select>
                                                    <i class="fa fa-caret-down"></i>
                                                </div>
                                            </div>
                                            <input class="form-control" placeholder="Ajouter un lien vers votre profil" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="offset-sm-3 col-sm-9">
                                        <div class="buttons">
                                            <button class="primary-bg">Entregistrer les modifications</button>
                                            <button class="" data-dismiss="modal">Annuler</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="about-details details-section dashboard-section">
    <h4>
        <i data-feather="align-left"></i>À propos de moi</h4>
    <p>Combined with a handful of model sentence structures, to generate lorem Ipsum which  It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including.</p>
    <p>Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable
    </p>
    <div class="information-and-contact">
        <div class="information">
            <h4>Information</h4>
            <ul>
                <li>
                    <span>Category:</span>
                    Design & Creative</li>
                <li>
                    <span>Location:</span>
                    Los Angeles</li>
                <li>
                    <span>Status:</span>
                    Full-time</li>
                <li>
                    <span>Experience:</span>
                    3 year(s)</li>
                <li>
                    <span>Salary:</span>
                    $32k - $36k</li>
                <li>
                    <span>Gender:</span>
                    Male</li>
                <li>
                    <span>Age:</span>
                    24 Year(s)</li>
                <li>
                    <span>Qualification:</span>
                    Gradute</li>
            </ul>
        </div>
    </div>
    <!-- Button trigger modal -->
    <button class="btn btn-primary edit-resume" data-target="#modal-about-me" data-toggle="modal" type="button">
        <i data-feather="edit-2"></i>
    </button>
    <!-- Modal -->
    <div aria-hidden="true" class="modal fade" id="modal-about-me" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="title">
                        <h4>
                            <i data-feather="align-left"></i>About Me</h4>
                    </div>
                    <div class="content">
                        <form action="#">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Write Yourself</label>
                                <div class="col-sm-9">
                                    <textarea class="form-control" placeholder="Write Yourself"></textarea>
                                </div>
                            </div>
                            <h4>
                                <i data-feather="align-left"></i>Information</h4>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Category</label>
                                <div class="col-sm-9">
                                    <input class="form-control" placeholder="Design &amp; Creative" type="text">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Location</label>
                                <div class="col-sm-9">
                                    <input class="form-control" placeholder="Los Angeles" type="text">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Status</label>
                                <div class="col-sm-9">
                                    <input class="form-control" placeholder="Full Time" type="text">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Experience</label>
                                <div class="col-sm-9">
                                    <input class="form-control" placeholder="3 Year" type="text">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Salary Range</label>
                                <div class="col-sm-9">
                                    <input class="form-control" placeholder="30k - 40k" type="text">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Gender</label>
                                <div class="col-sm-9">
                                    <input class="form-control" placeholder="Male" type="text">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Age</label>
                                <div class="col-sm-9">
                                    <input class="form-control" placeholder="25 Years" type="text">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Qualification</label>
                                <div class="col-sm-9">
                                    <input class="form-control" placeholder="Gradute" type="text">
                                </div>
                            </div>
                            <div class="row">
                                <div class="offset-sm-3 col-sm-9">
                                    <div class="buttons">
                                        <button class="primary-bg">Save Update</button>
                                        <button class="" data-dismiss="modal">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="edication-background details-section dashboard-section">
    <h4>
        <i data-feather="book"></i>Education Background</h4>
    <div class="education-label">
        <span class="study-year">2018 - Present</span>
        <h5>Masters in Software Engineering<span>@ Engineering University</span>
        </h5>
        <p>Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage</p>
    </div>
    <div class="education-label">
        <span class="study-year">2014 - 2018</span>
        <h5>Diploma in Graphics Design<span>@ Graphic Arts Institute</span>
        </h5>
        <p>Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage</p>
    </div>
    <div class="education-label">
        <span class="study-year">2008 - 2014</span>
        <h5>Secondary School Certificate<span>@  Engineering High School</span>
        </h5>
        <p>Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage</p>
    </div>
    <!-- Button trigger modal -->
    <button class="btn btn-primary edit-resume" data-target="#modal-education" data-toggle="modal" type="button">
        <i data-feather="edit-2"></i>
    </button>
    <!-- Modal -->
    <div aria-hidden="true" class="modal fade modal-education" id="modal-education" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="title">
                        <h4>
                            <i data-feather="book"></i>Education</h4>
                        <a class="add-more" href="#">+ Add Education</a>
                    </div>
                    <div class="content">
                        <form action="#">
                            <div class="input-block-wrap">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">01</label>
                                    <div class="col-sm-9">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">Title</div>
                                            </div>
                                            <input class="form-control" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="offset-sm-3 col-sm-9">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">Institute</div>
                                            </div>
                                            <input class="form-control" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-9 offset-sm-3">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">Period</div>
                                            </div>
                                            <input class="form-control" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="offset-sm-3 col-sm-9">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">Description</div>
                                            </div>
                                            <textarea class="form-control"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="input-block-wrap">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">02</label>
                                    <div class="col-sm-9">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">Title</div>
                                            </div>
                                            <input class="form-control" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="offset-sm-3 col-sm-9">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">Institute</div>
                                            </div>
                                            <input class="form-control" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-9 offset-sm-3">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">Period</div>
                                            </div>
                                            <input class="form-control" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="offset-sm-3 col-sm-9">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">Description</div>
                                            </div>
                                            <textarea class="form-control"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="offset-sm-3 col-sm-9">
                                    <div class="buttons">
                                        <button class="primary-bg">Save Update</button>
                                        <button class="" data-dismiss="modal">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="experience dashboard-section details-section">
    <h4>
        <i data-feather="briefcase"></i>Work Experiance</h4>
    <div class="experience-section">
        <span class="service-year">2016 - Present</span>
        <h5>Lead UI/UX Designer<span>@ Codepassengers LTD</span>
        </h5>
        <p>Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage</p>
    </div>
    <div class="experience-section">
        <span class="service-year">2012 - 2016</span>
        <h5>Former Graphic Designer<span>@ Graphicreeeo CO</span>
        </h5>
        <p>Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage</p>
    </div>
    <!-- Button trigger modal -->
    <button class="btn btn-primary edit-resume" data-target="#modal-experience" data-toggle="modal" type="button">
        <i data-feather="edit-2"></i>
    </button>
    <!-- Modal -->
    <div aria-hidden="true" class="modal fade modal-experience" id="modal-experience" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="title">
                        <h4>
                            <i data-feather="briefcase"></i>Experience</h4>
                        <a class="add-more" href="#">+ Add Experience</a>
                    </div>
                    <div class="content">
                        <form action="#">
                            <div class="input-block-wrap">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">01</label>
                                    <div class="col-sm-9">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">Title</div>
                                            </div>
                                            <input class="form-control" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="offset-sm-3 col-sm-9">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">Company</div>
                                            </div>
                                            <input class="form-control" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-9 offset-sm-3">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">Period</div>
                                            </div>
                                            <input class="form-control" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="offset-sm-3 col-sm-9">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">Description</div>
                                            </div>
                                            <textarea class="form-control"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="input-block-wrap">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">02</label>
                                    <div class="col-sm-9">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">Title</div>
                                            </div>
                                            <input class="form-control" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="offset-sm-3 col-sm-9">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">Company</div>
                                            </div>
                                            <input class="form-control" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-9 offset-sm-3">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">Period</div>
                                            </div>
                                            <input class="form-control" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="offset-sm-3 col-sm-9">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">Description</div>
                                            </div>
                                            <textarea class="form-control"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="offset-sm-3 col-sm-9">
                                    <div class="buttons">
                                        <button class="primary-bg">Save Update</button>
                                        <button class="" data-dismiss="modal">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="professonal-skill dashboard-section details-section">
    <h4>
        <i data-feather="feather"></i>Professional Skill</h4>
    <p>Combined with a handful of model sentence structures, to generate lorem Ipsum which  It has survived not only five centuries, but also the leap into electronic typesetting</p>
    <div class="progress-group">
        <div class="progress-item">
            <div class="progress-head">
                <p class="progress-on">Photoshop</p>
            </div>
            <div class="progress-body">
                <div class="progress">
                    <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="70" class="progress-bar" role="progressbar" style="width: 0;"></div>
                </div>
                <p class="progress-to">70%</p>
            </div>
        </div>
        <div class="progress-item">
            <div class="progress-head">
                <p class="progress-on">HTML/CSS</p>
            </div>
            <div class="progress-body">
                <div class="progress">
                    <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="90" class="progress-bar" role="progressbar" style="width: 0;"></div>
                </div>
                <p class="progress-to">90%</p>
            </div>
        </div>
        <div class="progress-item">
            <div class="progress-head">
                <p class="progress-on">JavaScript</p>
            </div>
            <div class="progress-body">
                <div class="progress">
                    <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="74" class="progress-bar" role="progressbar" style="width: 0;"></div>
                </div>
                <p class="progress-to">74%</p>
            </div>
        </div>
        <div class="progress-item">
            <div class="progress-head">
                <p class="progress-on">PHP</p>
            </div>
            <div class="progress-body">
                <div class="progress">
                    <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="86" class="progress-bar" role="progressbar" style="width: 0;"></div>
                </div>
                <p class="progress-to">86%</p>
            </div>
        </div>
    </div>
    <!-- Button trigger modal -->
    <button class="btn btn-primary edit-resume" data-target="#modal-pro-skill" data-toggle="modal" type="button">
        <i data-feather="edit-2"></i>
    </button>
    <!-- Modal -->
    <div aria-hidden="true" class="modal fade modal-pro-skill" id="modal-pro-skill" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="title">
                        <h4>
                            <i data-feather="feather"></i>Professional Skill</h4>
                        <a class="add-more" href="#">+ Add Skill</a>
                    </div>
                    <div class="content">
                        <form action="#">
                            <div class="input-block-wrap">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">About Skill</label>
                                    <div class="col-sm-9">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">Description</div>
                                            </div>
                                            <textarea class="form-control"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="input-block-wrap">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Skill 01</label>
                                    <div class="col-sm-9">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">Skill Name</div>
                                            </div>
                                            <input class="form-control" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="offset-sm-3 col-sm-9">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">Percentage</div>
                                            </div>
                                            <input class="form-control" type="text">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="input-block-wrap">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Skill 02</label>
                                    <div class="col-sm-9">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">Skill Name</div>
                                            </div>
                                            <input class="form-control" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="offset-sm-3 col-sm-9">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">Percentage</div>
                                            </div>
                                            <input class="form-control" type="text">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="input-block-wrap">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Skill 03</label>
                                    <div class="col-sm-9">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">Skill Name</div>
                                            </div>
                                            <input class="form-control" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="offset-sm-3 col-sm-9">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">Percentage</div>
                                            </div>
                                            <input class="form-control" type="text">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="input-block-wrap">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Skill 04</label>
                                    <div class="col-sm-9">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">Skill Name</div>
                                            </div>
                                            <input class="form-control" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="offset-sm-3 col-sm-9">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">Percentage</div>
                                            </div>
                                            <input class="form-control" type="text">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="offset-sm-3 col-sm-9">
                                    <div class="buttons">
                                        <button class="primary-bg">Save Update</button>
                                        <button class="" data-dismiss="modal">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="special-qualification dashboard-section details-section">
    <h4>
        <i data-feather="gift"></i>Special Qualification</h4>
    <ul>
        <li>5 years+ experience designing and building products.</li>
        <li>Skilled at any Kind Design Tools.</li>
        <li>Passion for people-centered design, solid intuition.</li>
        <li>Hard Worker & Quick Lerner.</li>
    </ul>
    <!-- Button trigger modal -->
    <button class="btn btn-primary edit-resume" data-target="#modal-qualification" data-toggle="modal" type="button">
        <i data-feather="edit-2"></i>
    </button>
    <!-- Modal -->
    <div aria-hidden="true" class="modal fade" id="modal-qualification" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="title">
                        <h4>
                            <i data-feather="align-left"></i>Special Qualification</h4>
                        <a class="add-more" href="#">+ Add Another</a>
                    </div>
                    <div class="content">
                        <form action="#">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Type Here</label>
                                <div class="col-sm-9">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">01</div>
                                        </div>
                                        <input class="form-control" type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="offset-sm-3 col-sm-9">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">02</div>
                                        </div>
                                        <input class="form-control" type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="offset-sm-3 col-sm-9">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">03</div>
                                        </div>
                                        <input class="form-control" type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="offset-sm-3 col-sm-9">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">04</div>
                                        </div>
                                        <input class="form-control" type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="offset-sm-3 col-sm-9">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">05</div>
                                        </div>
                                        <input class="form-control" type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="offset-sm-3 col-sm-9">
                                    <div class="buttons">
                                        <button class="primary-bg">Save Update</button>
                                        <button class="" data-dismiss="modal">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio dashboard-section details-section">
    <h4>
        <i data-feather="gift"></i>Portfolio</h4>
    <div class="portfolio-slider owl-carousel">
        <div class="portfolio-item">
            <img alt="" class="img-fluid" src="/images/portfolio/thumb-3.jpg">
            <div class="overlay">
                <a href="#">
                    <i data-feather="eye"></i>
                </a>
                <a href="#">
                    <i data-feather="link"></i>
                </a>
            </div>
        </div>
        <div class="portfolio-item">
            <img alt="" class="img-fluid" src="/images/portfolio/thumb-1.jpg">
            <div class="overlay">
                <a href="#">
                    <i data-feather="eye"></i>
                </a>
                <a href="#">
                    <i data-feather="link"></i>
                </a>
            </div>
        </div>
        <div class="portfolio-item">
            <img alt="" class="img-fluid" src="/images/portfolio/thumb-2.jpg">
            <div class="overlay">
                <a href="#">
                    <i data-feather="eye"></i>
                </a>
                <a href="#">
                    <i data-feather="link"></i>
                </a>
            </div>
        </div>
        <div class="portfolio-item">
            <img alt="" class="img-fluid" src="/images/portfolio/thumb-3.jpg">
            <div class="overlay">
                <a href="#">
                    <i data-feather="eye"></i>
                </a>
                <a href="#">
                    <i data-feather="link"></i>
                </a>
            </div>
        </div>
        <div class="portfolio-item">
            <img alt="" class="img-fluid" src="/images/portfolio/thumb-2.jpg">
            <div class="overlay">
                <a href="#">
                    <i data-feather="eye"></i>
                </a>
                <a href="#">
                    <i data-feather="link"></i>
                </a>
            </div>
        </div>
    </div>
    <!-- Button trigger modal -->
    <button class="btn btn-primary edit-resume" data-target="#modal-portfolio" data-toggle="modal" type="button">
        <i data-feather="edit-2"></i>
    </button>
    <!-- Modal -->
    <div aria-hidden="true" class="modal fade modal-portfolio" id="modal-portfolio" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="title">
                        <h4>
                            <i data-feather="grid"></i>Portfolio</h4>
                        <a class="add-more" href="#">+ Add Another</a>
                    </div>
                    <div class="content">
                        <form action="#">
                            <div class="input-block-wrap">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Portfolio 01</label>
                                    <div class="col-sm-9">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">Title</div>
                                            </div>
                                            <input class="form-control" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="offset-sm-3 col-sm-9">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">Image</div>
                                            </div>
                                            <div class="upload-profile-photo">
                                                <div class="update-photo">
                                                    <img alt="" class="image" src="/images/portfolio/thumb-1.jpg">
                                                </div>
                                                <div class="file-upload">
                                                    <input class="file-input" type="file">Change Avatar
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="offset-sm-3 col-sm-9">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">Link</div>
                                            </div>
                                            <input class="form-control" type="text">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="input-block-wrap">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Portfolio 02</label>
                                    <div class="col-sm-9">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">Title</div>
                                            </div>
                                            <input class="form-control" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="offset-sm-3 col-sm-9">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">Image</div>
                                            </div>
                                            <div class="upload-profile-photo">
                                                <div class="update-photo">
                                                    <img alt="" class="image" src="/images/portfolio/thumb-1.jpg">
                                                </div>
                                                <div class="file-upload">
                                                    <input class="file-input" type="file">Change Avatar
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="offset-sm-3 col-sm-9">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">Link</div>
                                            </div>
                                            <input class="form-control" type="text">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="input-block-wrap">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Portfolio 03</label>
                                    <div class="col-sm-9">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">Title</div>
                                            </div>
                                            <input class="form-control" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="offset-sm-3 col-sm-9">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">Image</div>
                                            </div>
                                            <div class="upload-profile-photo">
                                                <div class="update-photo">
                                                    <img alt="" class="image" src="/images/portfolio/thumb-1.jpg">
                                                </div>
                                                <div class="file-upload">
                                                    <input class="file-input" type="file">Change Avatar
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="offset-sm-3 col-sm-9">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">Link</div>
                                            </div>
                                            <input class="form-control" type="text">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="offset-sm-3 col-sm-9">
                                    <div class="buttons">
                                        <button class="primary-bg">Save Update</button>
                                        <button class="" data-dismiss="modal">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
