{% extends 'base.html.twig' %}

{% import 'util/breadcrumb.html.twig' as breadcrumb %}

{% trans_default_domain 'candidate' %}

{% block title %}{{ 'listing.title'|trans }}{% endblock %}

{% block main %}

    {{ breadcrumb.level_1('candidate.listing_title') }}
  
    <div class="alice-bg section-padding-bottom">
      <div class="container">
        <div class="row no-gutters">
          <div class="col">
            <div class="candidate-container">
              <div class="filtered-candidate-wrapper">

                {% include 'common/results-view.html.twig' with {type: 'candidate'} %}

                {% include 'candidate/candidates-items.html.twig' with {candidates: list} %}

                <div class="pagination-list text-center">
                  <nav class="navigation pagination">
                    <div class="nav-links">
                      <a class="prev page-numbers" href="#"><i class="fas fa-angle-left"></i></a>
                      <a class="page-numbers" href="#">1</a>
                      <span aria-current="page" class="page-numbers current">2</span>
                      <a class="page-numbers" href="#">3</a>
                      <a class="page-numbers" href="#">4</a>
                      <a class="next page-numbers" href="#"><i class="fas fa-angle-right"></i></a>
                    </div>
                  </nav>                
                </div>
              </div>
              {# <div class="candidate-filter-wrapper">
                <div class="selected-options same-pad">
                  <div class="selection-title">
                    <h4>Sélection</h4>
                    <a href="#">Effacer tous</a>
                  </div>
                  <ul class="filtered-options">
                  </ul>
                </div>
                <div class="candidate-filter-dropdown same-pad category">
                  <select class="selectpicker">
                    <option value="" selected>Catégorie</option>
                    {% set regions = regionsCount() %}
                    {% for region, key in regions %}
                        <option value="{{ region }}">{{ region|trans({}, 'regions') }}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="candidate-filter-dropdown same-pad location">
                  <select class="selectpicker">
                    <option value="" selected>Location</option>
                    <option value="california">Chicago</option>
                    <option value="california">New York City</option>
                    <option value="california">San Francisco</option>
                    <option value="california">Washington</option>
                    <option value="california">Boston</option>
                    <option value="california">Los Angeles</option>
                    <option value="california">Seattle</option>
                    <option value="california">Las Vegas</option>
                    <option value="california">San Diego</option>
                  </select>
                </div>
                <div data-id="candidate-type" class="candidate-filter same-pad candidate-type">
                  <h4 class="option-title">Job Type</h4>
                  <ul>
                    <li class="full-time"><i data-feather="clock"></i><a href="#" data-attr="Full Time">Full Time</a></li>
                    <li class="part-time"><i data-feather="clock"></i><a href="#" data-attr="Part Time">Part Time</a></li>
                    <li class="freelance"><i data-feather="clock"></i><a href="#" data-attr="Freelance">Freelance</a></li>
                    <li class="temporary"><i data-feather="clock"></i><a href="#" data-attr="Temporary">Temporary</a></li>
                  </ul>
                </div>
                <div data-id="experience" class="candidate-filter same-pad experience">
                  <h4 class="option-title">Experience</h4>
                  <ul>
                    <li><a href="#" data-attr="Fresh">Fresh</a></li>
                    <li><a href="#" data-attr="Less than 1 year">Less than 1 year</a></li>
                    <li><a href="#" data-attr="2 Year">2 Year</a></li>
                    <li><a href="#" data-attr="3 Year">3 Year</a></li>
                    <li><a href="#" data-attr="4 Year">4 Year</a></li>
                    <li><a href="#" data-attr="5 Year">5 Year</a></li>
                    <li><a href="#" data-attr="Avobe 5 Years">Avobe 5 Years</a></li>
                  </ul>
                </div>
                <div class="candidate-filter same-pad">
                  <h4 class="option-title">Salary Range</h4>
                  <div class="price-range-slider">
                    <div class="nstSlider" data-range_min="0" data-range_max="10000" 
                     data-cur_min="0"    data-cur_max="6130">
                      <div class="bar"></div>
                      <div class="leftGrip"></div>
                      <div class="rightGrip"></div>
                      <div class="grip-label">
                        <span class="leftLabel"></span>
                        <span class="rightLabel"></span>
                      </div>
                    </div>
                  </div>
                </div>
                <div data-id="post" class="candidate-filter same-pad post">
                  <h4 class="option-title">Date Posted</h4>
                  <ul>
                    <li><a href="#" data-attr="Last hour">Last hour</a></li>
                    <li><a href="#" data-attr="Last 24 hour">Last 24 hour</a></li>
                    <li><a href="#" data-attr="Last 7 days">Last 7 days</a></li>
                    <li><a href="#" data-attr="Last 14 days">Last 14 days</a></li>
                    <li><a href="#" data-attr="Last 30 days">Last 30 days</a></li>
                  </ul>
                </div>
                <div data-id="gender" class="candidate-filter same-pad gender">
                  <h4 class="option-title">Gender</h4>
                  <ul>
                    <li><a href="#" data-attr="Male">Male</a></li>
                    <li><a href="#" data-attr="Female">Female</a></li>
                  </ul>
                </div>
                <div data-id="qualification" class="candidate-filter same-pad qualification">
                  <h4 class="option-title">Qualification</h4>
                  <ul>
                    <li><a href="#" data-attr="Matriculation">Matriculation</a></li>
                    <li><a href="#" data-attr="Intermidiate">Intermidiate</a></li>
                    <li><a href="#" data-attr="Gradute">Gradute</a></li>
                  </ul>
                </div>
              </div> #}
              {% include 'common/results-filter.html.twig' with {type: 'candidate' } %}
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}